@tailwind base;
@tailwind components;
@tailwind utilities;

header{
  background-color:rgb(15, 79, 131);
  color: rgb(200, 224, 243);
}




.h-screen {
  height: 100vh;
}

.bg-cover {
  background-size: cover;
}

.object-cover {
  object-fit: cover;
}



